<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Formulário</title>
</head>
<body>
    <h1>Formulário de Cadastro</h1>
    <section>
        <div>
            <p>Insira as informações solicitadas</p>
            <form action="/show" method="post">
                <input type="text" placeholder="Nome" name="name" minlength="1">
                <input type="text" placeholder="Sobrenome" name="surname" minlength="1">
                <button type="submit">Confirmar</button>
            </form>
        </div>
    </section>
</body>
</html>